body{
    background-color: #1a1a1a;
}
.container{
    border-radius: 8px;
    background-color: #d5d4d4;
    height: 50vh;
    width: 25vw;
    margin: auto;
    margin-top: 150px;
}

h1{
text-align: center;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #1a50a0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
}

input{
    width: 18vw;
    height: 5vh;
    border-radius: 6px;
    background-color: #d5d4d4;
    border: 1px solid grey;
}

button{
    width: 18.5vw;
    height: 6vh;
    background-color: #1b81da;
}

button:hover {
    background-color:#293ba3;
    border: 1px solid black;
}